
body{
    background-color: #1C1A1A !important;
    color: white !important;
}
:root{
    --main-color: #2B2B2B;
    --dark-color: #1c1a1a;
    --contrast-color: #69d2cd;
    --diffential-color: #e96363;

}

